.button, .button:hover, .button:active, .button:visited {
  padding: .5rem 1.5rem;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: .8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;

  color: $brand-purple;
  border:1px solid $brand-purple;
  text-decoration: none;

  &.main {
    background: $brand-purple;
    color: $white;
  }
}
