
@import "_var.scss";
@import "_constructors.scss";

* { box-sizing: border-box;}
body, html { width: 100%; height: 100%; }

body {
  background: $dkprpl url('/img/confetti-color.png') no-repeat top left;
  background-size: contain;
  display: flex;
  flex-direction: row;
  font-family: Helvetica, arial, sans-serif;
}

h1, h2, h3, {
  font-family: "Poppins", "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: 900;
 }

h2
 { font-size: 3rem; }
 h1
{ font-size: 2.4rem; }


a, a:visited, a:hover, a:active {
  color: $green;
  font-weight: bold;
  text-decoration: underline;

}

body > div {
  padding: 2.5rem;
}

#left, #right { width: 50vw; }
#left {
  width: 50vw;
  height: 100vh;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;


  #logo-wall { max-width: 22rem; }

  #social {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    display: none;
    a { margin-right: 1rem; }
    span { display: none; }
  }
  footer {
    font-size: .85rem;
    opacity: .8;
    // margin-top: auto;
    // align-self: flex-end;
    // position: fixed;
    // bottom: 0;
  }
}

#right {
  overflow: scroll;
  width: 50vw;
  min-width: 680px;
  background: $white url('/img/confetti-mono.png') no-repeat top left;
  background-size: contain;
  border-radius: 50px 0 0 50px;
  height: 100vh;
  text-align: center;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;

  h2 { width: 100%; }
  h3 {
    position: relative;
    display: fl-ex;
    flex-direction: ro-w;
    i { font-style: normal; font-size: 1.8em; }
    span { text-align: left; margin-left: 1ch; }
  }



  & > div {

    // position: relative;
    width: 48%;
    background: $bg-gray;
    border-radius: 16px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

  // }

  div#sign-up {
    width: 100%;
    margin-bottom: 1rem;
  }

  #donate, #reminders {

  }
}

@import "_breakpoints.scss";
